<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-layout row wrap v-if="listWidgetGauge.length>0">
                        <v-flex xs12 v-for="(item ,index) in listWidgetGauge ">
                            <canvas data-type="radial-gauge" :id="item.id"></canvas>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-else>
                        <h2>Alat Belum Terdeteksi Online</h2>
                    </v-layout>
                    <v-snackbar v-model="snackbar" :timeout="2000">
                        {{ text }}
                        <v-btn color="pink" flat @click="snackbar = false">
                            Close
                        </v-btn>
                    </v-snackbar>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/mqtt@2.18.8/dist/mqtt.min.js"></script>
    <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    snackbar: false,
                    text: '',
                    qty_widget: 0,
                    listWidgetGauge: []
                }
            },
            mounted() {
                this.initWs()
            }, methods: {
                initWs() {
                    let _this = this
                    let base_topik = 'test/base_topik'
                    let topik = {
                        read: base_topik + 'read',
                        write: base_topik + 'write',
                        qty_widget: base_topik + 'qty_widget',
                        online: base_topik + 'online',
                        offline: base_topik + 'offline',
                        error: base_topik + 'error'
                    }
                    var client = window.mqtt.connect('ws://test.mosquitto.org:8080')
                    client.on('connect', function () {
                        client.subscribe(topik.read)
                        client.subscribe(topik.qty_widget)
                        client.on("message", function (topic, message) {
                            console.log(topic)
                            if (topic == topik.read) {
                                _this.text = "Update Value " + new Date().toDateString()
                                _this.snackbar = true
                            } else if (topic == topik.qty_widget) {
                                let tempVal = parseInt(message.toString())
                                if (isNaN(tempVal)) {
                                    return
                                }
                                if (tempVal === 0) {
                                    return
                                }
                                if (_this.qty_widget !== tempVal) {
                                    _this.text = "Update Jumlah Widget"
                                    _this.snackbar = true

                                    // console.log('tempVal:', tempVal)
                                    _this.qty_widget = tempVal
                                    _this.listWidgetGauge = []
                                    for (let i1 = 0; i1 < tempVal; i1++) {
                                        let element = {
                                            id: 'id_' + Math.random().toString(36).substr(2, 5),
                                            tag: '-',
                                            val: '-',
                                            unit: '-'
                                        }
                                        _this.listWidgetGauge.push(element)
                                        setTimeout(() => {
                                            var gauge = new RadialGauge({
                                                renderTo: element.id
                                            }).draw();
                                        }, 500);
                                    }

                                }
                                console.log(message.toString())
                            }

                        })
                    })


                }
            }
        })
    </script>
</body>

</html>